<section>
  <div class="title">
    <div class="row text-center py-4">
      <div class="col-sm-12">
          <div class="blur"></div>
          <span class="pills">{{'ABOUT_ME' | translate}}</span>
          <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="left-side">
      <p class="description" [innerHTML]="'ABOUT_SECTION.DESCRIPTION' | translate"></p>
      <a [href]="'CV_' + (selectedLanguage === 'it' ? 'Sylvie_Molinatto' : 'Sylvie_Molinatto_en') + '.pdf'" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-outline-secondary">
          <span> {{ 'ABOUT_SECTION.DOWNLOAD_CV' | translate }} </span>
        </button>
      </a>
    </div>
    <div class="right-side">
      <div class="info-row">
        <span class="bold"> {{'ABOUT_SECTION.NAME' | translate }}:</span> <span> Sylvie Molinatto </span>
      </div>
      <div class="info-row">
        <span class="bold"> {{'ABOUT_SECTION.DATE_OF_BIRTH' | translate }}:</span> <span> 06/12/2000 </span>
      </div>
      <div class="info-row">
        <span class="bold"> Email:</span> <a href="mailto:sylvie.molinatto00@gmail.com"> sylvie.molinatto00&#64;gmail.com </a>
      </div>
      <div class="info-row">
        <span class="bold"> {{ 'ABOUT_SECTION.FROM' | translate }}:</span> <span> Condove (TO), Italy </span>
      </div>
    </div>
  </div>
  <app-skills></app-skills>
</section>
