@import '../../../styles.scss';
@import '../../../styles/img-styles.scss';
@import '../../../styles/title_styles.scss';

.container {
  display: flex;
  justify-content: center;
  padding: 0em 4em 3em 4em;
}

p{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

.container-info{
  display: flex;
  flex-direction: column;
  padding: 1.1em;
  width: 100%;

  &:hover {
    background: var(--background-color);
    border-radius: .6em;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    @include box-shadow;
  }
}

.info {
  display: flex;
  flex-direction: row;
}

.right-info{
  margin-left: auto;
}

.logo {
  margin-left: 1em;
}

.bold {
  font-weight: 600;
}

.dates {
  color: var(--tertiary-color);
  margin-top: 0px;
}

.step {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 30.99px;
    height: 0;
    width: 2px;
    background-color: var(--text-color);
    margin-top: 1em;
  }

  .info {
    margin: 2px 0 0 0;
    padding: 0 0 0 1em;
  }

  .event-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    bottom: 5px;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .text {
    font-size: 14px;
    color: var(--text-color);
    padding-left: 1em;
    margin: 0;
  }

  &:not(:last-child) {
    &:after {
      height: 100%;
      width: 1px;
    }
   
  }
}

.number {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--background-color);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;

  &.completed {
    background-color: var(--text-color);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  svg {
    width: 16px;
    height: 16px;
    object-fit: contain;

    path {
      fill: var(--background-color);
    }
  }
}

.course {
  font-style: italic;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2em 2em 2em;
  }
  .container-info {
    padding-top: 1em 0 1em 0;
  }

  .step{
    .info {
      margin: 0;
      padding: 0;
    }

    .text {
      padding-left: 0;
    }
  }
}