@use '@angular/material' as mat;

@include mat.core();
// Define the theme object.
$theme: mat.define-theme((
  color: (
    theme-type: light
  ),
  typography: (
    brand-family: 'Montserrat, sans-serif',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

// Globar variables
$background-color-light: #F7F7F8;
$background-color-dark: #323b4c;
$surface-color-light: white;
$surface-color-dark: lighten($background-color-dark, 5%);
$text-color-light: #000000;
$text-color-dark: #FFFFFF;
$primary-color: #FA8993;
$secondary-color: #AD6F74;
$tertiary-color: #7b7b7b;
$error-color: #F44336;
$placeholder-color: #AEAEAE;


:root, [data-theme="light"] {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --background-color: #{$background-color-light};
  --surface-color: #{$surface-color-light};
  --text-color: #{$text-color-light};
  --placeholder-color: #{$placeholder-color};
  --error-color: #{$error-color};
}

/* Tema scuro */
[data-theme="dark"] {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --background-color: #{$background-color-dark};
  --surface-color: #{$surface-color-dark};
  --text-color: #{$text-color-dark};
  --placeholder-color: #{$placeholder-color};
  --error-color: #{$error-color};
}

/* Mixin per ombre */
@mixin box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main{
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Stili globali */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0; 
  font-family: "Montserrat", system-ui;
}

/* Stili per il header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  @include box-shadow;
}

/* Stili per i paragrafi */
p {
  margin: 0;
  padding: 0.5rem 0;
}

/* Stili per i titoli */
h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
}

/* Stili per la navbar */
.navbar {
  background-color: var(--primary-color);
  padding: .5rem;
}

/* Stili per i link */
a {
  color: var(--text-color);
  &:hover {
    color: var(--primary-color);
  }
}

.btn-outline-secondary {
  color: var(--text-color);
  background: transparent;
  border-color: var(--text-color);
  &:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform: scale(1.09);
  }
}

.highlight {
  font-weight: 600;
  color: var(--primary-color);
}
